<html>

<head>
   <link href="/assets/style.css" rel = "stylesheet" type = "text/css" />
</head>

<body>
    <% include partials/nav.ejs%>
    <h2><form id = "contact-form">
        <label for="who" >who we want to contact ?"</label>
        <input type = "text" name = "who"></form>
        <lable for="stocks">Which stocks</lable>
        <input type = "text" name = "stocks"><br>
        <lable for="email">your email please</lable>
        <input type = "email" name = "email">
        <input type = "submit" value = "submit"></h2>
    </form>

</body>

</html>